@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
/* font-family: 'Oswald', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* font-family: 'Ubuntu', sans-serif; */

:root{
    --fonteTitulo: 'Oswald', sans-serif;
    --fontePadrao: 'Ubuntu', sans-serif;

    --cor01: #E1C46C; /* Pagina Principal */
    --cor02: #DBAF28; /* Novo Testamento */
    --cor03: #5C502C; /* Velho Testamento */
    --cor04: #08125C;
    --cor05: white;
    --cor06: black;
}

*{
    margin: 0px;
}

body{
    background-color: var(--cor03);
    background-image: url(../imagens/imagemDeFundoVelhoTestamentoOK.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    max-width: 800px;
    min-width: 300px;
    background-color: var(--cor03);
    margin: 0px auto;
}

h1{
    font-family: var(--fonteTitulo);
}

h2{
    font-family: var(--fonteTitulo);
}

p{
    font-family: var(--fontePadrao);
}